body {
    font-size: 1.1em;
    padding: 0;
    background-color: #e9ebee;
    margin: 0;
    padding-top: 50px;
}
#wrap {
    width: 100%;
    max-width: 280px;
    margin: 3% auto;
    overflow:  hidden;
    background: white;
    box-shadow:  2px 2px 10px #00000061;
    margin-bottom: 0;
    border-radius: 10px;
}
.warning-box {
    background: #f2dede;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
#left-col-grid {
    grid-area: left;
}
#right-col-grid {
    grid-area: right;
}
#top-grid {
    background: white;
    box-sizing: border-box;
    padding: 12px 6px 6px 6px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#content-grid {
    grid-area: main;
}
#gridWrap {
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
            'left main main main main right';
    width: 100%;
    max-width: 1010px;
    margin: 50px auto;
    grid-template-columns: 1fr 4fr 1fr;
}
.proposed-users {
    list-style: none;
    padding:  0;
}
.proposed-users li {
    padding: 8px;
    background: #e5e5e5;
    margin: 12px 0px;
    border-radius: 26px;
    box-shadow: 0 0 11px 1px darkgrey;
    border: none;
}
.proposed-users li a {
    text-decoration: none;
    vertical-align: top;
}
.proposed-users li a img {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
#user-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav ul li {
    display: inline-block;
}
#left-col-grid {
    box-sizing: border-box;
    position: relative;
    width: 200px;
}
#left-col-grid > *,#right-col-grid > * {
    position: fixed;
    width: inherit;
}
#top {
    width: 100%;
    background: #62a762;
    padding: 9px 0 0px;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.center-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1012px;
    display: grid;
    grid-template-columns: 0fr 2fr 1fr;
    grid-gap: 45px;
}
#profile-pic img {
    width: 100%;
    display: block;
    border-radius:  5px;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    text-align:  right;
    top: -2px;
    position:  relative;
}
nav a {
    /* font-size: 0.9rem; */
    /* font-weight:  bold; */
}
#mini-nav img {
    height: 32px;
    border-radius: 100%;
    top: 10px;
    position:  relative;
    right:  6px;
}
.proposed-container {
    background:  #fff;
    box-sizing: border-box;
    padding:  10px;
}
.logo-front img {
    height:  200px;
    /* border-radius: 35px; */
    background:  white;
    /* border: 1px solid #b1b1b1; */
    /* box-shadow: 2px 2px 10px #00000061; */
}
form#login, form#register {
    box-sizing:  border-box;
    background: #fff;
    border-radius:  5px;
    width:  100%;
    max-width: 200px;
    margin: 20px auto;
}
.footer-front{
    text-align: center;
    font-size: 0.9rem;
    background: #fff;
    box-sizing:  border-box;
    padding:  1px;
    border-radius:  5px;
}
.logo-front {
    text-align: center;
}
#icon-nav li{
    padding: 7px;
}
form a {
    color: black;
    text-decoration: none;
    margin-top: 15px;
    display:  block;
}
#icon-nav li a{
    font-size: 1.3em;
    color: #fff;
    display: block;
    position:  relative;
    text-decoration:  none;
}
.proposed-container h3 {
    margin:  5px 0;
}
div#userNameTag {
    text-align: center;
    margin:  10px 0;
    font-weight:  bold;
}
div#right-col-grid {
    box-sizing: border-box;
    position: relative;
    width: 250px;
}
div#logo img {
    height: 24px;
    opacity: 1;
    border-radius: 4px;
    transition: opacity 0.4s ease-in-out;
}
div#search a {
    display:  inline-block;
    margin-right: 40px;
    vertical-align:  middle;
}
.profile-btn img {
    height: 30px;
    border-radius: 100%;
    top: -16px;
    position: absolute;
    left: -35px;
}
.profile-btn {
}
div#search {
    /* padding-top: 5px; */
    text-align: left;
    position:  relative;
}
#search input[type="text"] {width: 100%;}
img.postProfPic {
    height: 100%;
    border-radius: 100%;
    /* padding-top: 10px; */
}

.post-header span {height: 32px;display: inline-block;vertical-align: top;}

.post {
    background:  white;
    border-radius:  8px;
    box-sizing:  border-box;
    margin:  20px 0;
    position: relative;
    border: 1px solid #c1c1c1;
}

.post-desc {
    padding:  0 10px;
    font-size: 1.5em;
}

.post-header {
    font-size:  0.8em;
    border-bottom: 1px solid #b5b5b5;
    padding: 8px;
}

span.post-owner {
    font-weight: bold;
    padding-top: 9px;
}

.post-owner a {
    text-decoration: none;
}

span.post-date {
    float:  right;
}
#post-module{
    resize: none;
    width: 98%;
}
form div {
}

form#login input, form#register input {
    padding: 5px 10px;
    box-sizing:  border-box;
    width: 100%;
}
form a:hover {
    color:  green;
    text-decoration:  underline;
}
.err_msg {
    padding: 8px 0;
    text-align:  center;
    font-size:  0.9em;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    position:  fixed;
    top: 50px;
    width: 100%;
    font-weight:  bold;
    z-index: 1000;
}
.ok_msg {
    padding: 8px 0;
    text-align:  center;
    font-size: 1em;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: fixed;
    top: 50px;
    width: 100%;
    font-weight: bold;
    z-index: 1000;
}
input.btn {
    background: #90bd90;
    border: 1px solid #569a56;
    font-size: 0.75em;
    padding: 15px !important;
    font-weight:  bold;
    width: 100%;
    text-transform:  uppercase;
    color: #034e03;
    cursor:  pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 20px;
}

input.btn:hover {
    background: #569a56;
    color: white;
}
.mini-btn {
    padding: 10px 0;
    width: 100%;
    max-width: 100px;
    text-transform:  uppercase;
    font-weight:  bold;
    font-size: 0.7em;
    color: #175a17;
    margin: 0 5px;
    border-radius:  inherit;
    float: right;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    background: #90bd90;
    vertical-align: middle;
    border: 1px solid #569a56;
}

form#post-form {
}

.clear{
    clear:both;
}

textarea#post_module {
    width: 99%;
    border: 1px solid #2b6f2ba1;
    resize:  none;
    border-radius:  inherit;
    height: 150px;
    padding: 15px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out, background 0.3s ease-in-out;
    margin: 10px 0;
}

form#post-form {
    background: white;
    box-sizing:  border-box;
    border-radius:  10px;
    cursor: text;
    transition: height 0.5s ease-in, padding 0.5s ease-in;
    border: 1px solid #9f9f9f;
}

.mini-btn:hover {
    background: #569a56;
    color: white;
}
textarea#post_module:focus {
    outline:  none;
    background: #e2ece2;
    height: 150px;
}
.shadow-box {
    box-shadow: 1px 1px 7px #00000059;
}
form#post-form label {
    font-weight:  bold;
    font-family: monospace, helvetica;
    color: #717171;
    border-bottom: 1px solid #5555558f;
    width:  100%;
    display: block;
    box-sizing: border-box;
    padding: 7px 10px;
}

.add-comment-div {
    width:  100%;
    text-align: center;
    padding: 25px;
    border-top: 1px solid #c1c1c1;
    box-sizing:  border-box;
}
.add-comment-div textarea {
    resize: none;
    width: 99%;
    height: 50px;
}
.comment-header {
    border-bottom: 1px solid lightgray;
}
.commentProfPic{
    /* width: 35px; */
    float: left;
}
.comment-owner a {
    text-decoration: none;
    padding-left: 7px;
    vertical-align: -webkit-baseline-middle;
}

.comment-date {
    font-size: 0.7em;
    float: right;
    margin: 5px;
}

.comment-desc {
    width: 90%;
    margin: 0px auto;
    font-size: 0.9em;
    padding: 0px;
}

.comment-desc p {
    margin: 0px;
    padding: 2px 2px 2px 12px;
}

.female {
    color: deeppink !important;
    text-decoration: none;
}
.female:hover {
    opacity: 1;
    text-shadow: 0 0 10px deeppink;
}
.male {
    color: dodgerblue !important;
    text-decoration: none;
}
.male:hover {
    opacity: 1;
    text-shadow: 0 0 10px dodgerblue;
}
.users-result {
    position: absolute;
    width: 99.6%;
    min-width: 280px;
    top: 33px;
    background: white;
    z-index: 999;
    left: 1px;
    box-shadow: 1px 1px 6px #00000073;
}
.not-found {
    padding: 8px;
}
.users-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.users-list li {
    border-bottom: 1px solid #9999998a;
    box-sizing:  border-box;
}

.users-list li:hover {

}
.users-list li a {
    padding: 5px;
    width: 96%;
    box-sizing: border-box;
    margin: 0px !important;
    text-decoration: none;
}

.users-list li a:hover {
    color: black;
}
.users-list li a img {
    height: 30px !important;
    margin: -1px;
    margin-right: 8px;
    display: inline-block;
}

.users-list li a span {
    display: inline-block;
    vertical-align: sub;
}
div#input-box {
    display:  inline-block;
    position:  relative;
    margin-right: 5px;
    width: 100%;
    top: -1px;
}
div#input-box input {
    padding: 8px;
    box-sizing:  border-box;
    outline:  none;
    border-radius: 2px;
    border: 1px solid #0d8e0d;
}
button.search-btn {
    position:  absolute;
    top: 1px;
    right: 1px;
    color: #777;
    padding: 8px 15px;
    background: #efefef;
    outline:  none;
    border:  none;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}

button.search-btn:hover {
    background: #e0e0e0;
}
div#userPictrue {
    position:  absolute;
    background: #ffffff96;
    bottom: 15px;
    right: 15px;
    text-align: center;
    border-radius:  20px;
    overflow:  hidden;
    border: 3px solid white;
}

div#userPictrue img {
    max-width: 135px;
    border-radius: 10%;
    margin: 10px;
}
div#cover {
    position:  relative;
    height: 300px;
    width: 100%;
    overflow:  hidden;
}
div#profileUserNav {
    width: 100%;
    border-top: 1px solid black;
}

div#profileUserNav ul {
    padding:  0;
    margin:  0;
    list-style:  none;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    display: grid;
}

div#profileUserNav ul li {
    display:  inline-block;
    border-right: 1px solid #d0d0d0;
}

div#profileUserNav ul li a {
    padding: 10px 0;
    width:  100%;
    display: inline-block;
    text-align: center;
    background: #ffffff;
    text-decoration:  none;
    color: #555;
    transition: background 0.3s ease-in-out;
}

div#profileUserNav ul li a:hover {
    background: #f1f1f1;
}
div#profileHolder {
    background: white;
    box-shadow: 2px 2px 6px #00000030;
    border: 1px solid #0000002b;
    box-sizing:  border-box;
    margin-bottom:  25px;
}

div#profileUserNav ul li:last-child {
    border-right:  none;
}
.profile-mini-name {
    background: #f3f3f3;
    text-transform:  capitalize;
    font-size:  0.9rem;
    font-weight:  bold;
    color: #444;
    padding: 4px 0;
    box-sizing: border-box;
}
.add-comment-div input {
    width: 85%;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid #55555561;
    transition: background 0.3s ease-in-out, padding 0.4s ease-in-out;
}

.add-comment-div button {
    width: 11%;
    padding: 11px 0 !important;
}
.comment-input {
    width: 100%;
    background: #def3de;
    box-sizing: border-box;
    padding: 10px 5px;
    border-top: 1px solid #62a762;
    border-bottom: 1px solid #62a762;
}

.like-container {
    position: relative;
}
.like_counter {
    position: relative;
}
.loading-gif {
    width: 25px;
    position: absolute;
    left: 100px;
    top: 12px;
}
.post_loading{
    height: 50px;
}

div#small_image img {
    height: 50px;
}

div#small_image a {margin:  0;}

div#add_post_wrap {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 10px;
    padding: 20px 15px;
}

div#post_add_popup {
    display: none;
}
div#post_input_fake {
    font-size: 0.9em;
    color: #888;
}
div#user-nav ul li a {
    padding: 5px 10px;
    display: block;
    border-radius:  4px;
    border: 1px solid transparent;
    margin: 5px 0;
    text-decoration:  none;
    transition: background 0.5s ease-in-out,border 0.5s ease-in-out;
    color: #222;
    text-transform:  capitalize;
}

div#user-nav ul li a:hover {
    background: #ffffffab;
    border: 1px solid #e0e0e0;
}
span.nav-icon {
    margin-right:  10px;
    color: #555;
}

div#comments15 {
    padding:  15px;
    font-size:  0.9em;
}

.comment {
    margin:  10px 0;
}

.add-comment-div input:focus {
    background: #ebffeb;
    outline: 1px solid transparent;
    border: 1px solid #55555561;
}


.wrap {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}

div#post {
    background:  white;
    padding: 0;
    box-sizing:  border-box;
    border-radius:  10px;
    border: 1px solid #5555554a;
    overflow:  hidden;
}

div.icon img {
    height:  70px;
}

.user_info span {
    vertical-align: top;
}

div.date {
}

.user_info {
    /* color: black; */
    /* font-weight:  bold; */
    /* padding: 10px; */
    /* font-size: 1.4em; */
}


.description p {
    font-size:  1.1em;
    color: #555;
}

.post_navigation {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap:  25px;
    margin: 15px 0px 0;
    background: #e0e0e0;
    padding: 15px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}




.comments {
    padding: 10px;
}

.comment user_pic img {
    display:  block;
    height:  20px;
}

.comment {display: grid;grid-template-columns: 0fr 1fr;margin: 0;border-bottom:  1px solid #999;margin-bottom:  40px;grid-gap: 15px;}

.comments_box {
    padding: 15px;
    display: none;
    height: 450px;
    background: #f1f1f1;
    overflow:  hidden;
    overflow-y: scroll;
}
.description {
    /* padding: 10px 30px; */
}

span.user_pic_add_comment img {
    height: 40px;
    vertical-align: middle;
}

.input_add_comment {
    display:  grid;
    grid-template-columns: 0fr 1fr;
    grid-gap:  25px;
}

span.user_pic_add_comment span input {}

input[name="comment_description"] {
    padding: 10px;
    width: 85%;
    box-sizing: border-box;
}
.comment_btn_close {
    display:  none;
}
#icon-nav li a:hover {color: #e4e4e4;}

div#search img:hover {
    opacity: 0.7;
}
div#logo {
    padding-top: 4px;
}

.active_btn{
    background: #ffffffab;
}
#general_set_box{
    display: block;
}
#security_set_box{
    display: none;
}
li#general, li#security {
    padding:  5px 10px;
    margin:  10px 0;
    cursor:  pointer;
    border-radius:  2px;
    border: 1px solid #e2e1e1;
    box-sizing:  border-box;
}

li#general:hover, li#security:hover {
    background: #f1f0f0;
}
form#general_form input,form#security_form input {float:  right;padding: 5px;width: 50%;box-sizing: border-box;display: block;}

form#general_form div,form#security_form div {
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #ccc;
}

form#general_form ul,form#security_form ul {margin: 5px 0;font-size: 0.9rem;color: red;}


.add-delete-buttons {
    position: relative;
}

.add-button, .delete-button {
    position: absolute;
    top: -28px;
    left: 57px;
    padding: 3px 10px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}

.add-button {
    background: darkgreen;
}

.delete-button {
    background: #a40000;
}
.add-button:hover, .delete-button:hover {
    box-shadow: 0 0 10px 0px black;
    color: black;
}
.add-button:active, .delete-button:active {
    transform: scale(0.6);
    transition: all 0.1s;
}

.friend-loading-gif {
    position: absolute;
    top: -28px;
    left: 86px;
    width: 18px;
}
.friends-container {
    text-align: center;
    margin-top: 20px;
}

.friend-div a img {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 50px;
}

.friend-div {
    width: 28%;
    margin: 10px;
    display: inline-block;
    position: relative;
    padding: 10px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 16px 0px grey;
}
.male-background {
    background: aliceblue;
}
.female-background {
    background: pink;
}
.friend-div button {
    top: 34px;
    left: 66px;
}

div.friend-div .friend-loading-gif {
    top: 35px;
    left: 101px;
}

#friendsCounter {
    position: absolute;
    top: 11px;
    font-size: 0.5em;
    border-radius: 50%;
    padding: 2px 6px;
    background: #b60000;
    left: 12px;
    font-family: sans-serif;
}
.small_fullname {
    font-size: 0.7rem;
    color: #555;
}
div#content-grid-full {text-align: center;grid-area:  main;grid-column: 1/7;}

img.error_poster {
    width: 100%;
}
.comment_owner p{
    margin:0px;
}

.space {
    margin: 18px;
}
div#profile-pic {
    position:  relative;
    border: 1px solid #9f9f9f;
    overflow:  hidden;
    border-radius: 15px;
}

div#change_profile_pic {
    position: absolute;
    top: -3px;
    left: 0px;
    font-size: 1.6rem;
    color: #999;
    cursor: help;
    padding: 10px;
    transition: color 0.4s ease-in-out;
    display: none;
}

div#change_profile_pic:hover {
    color: #444;
}
div#change_cover_pic {
    position:  absolute;
    top: 0;
    right:  0;
    padding: 10px;
    font-size: 2rem;
    color:  #777;
    cursor: pointer;
    transition:  color 0.4s ease-in-out;
    display: none;
}

div#change_cover_pic:hover {
    color:  #444;
}
#profile-pic a:hover ~ #change_profile_pic {
    display:block;
}
#change_profile_pic:hover {
    display:block;
}
#profile-pic a {
    transition: display 0.4s ease-in-out;
}

#cover :hover ~ #change_cover_pic {
    display:block;
}
#change_cover_pic:hover {
    display:block;
}
#upload_left_image {
    display: none;
    visibility:  hidden;
    height:  0;
    overflow:  hidden;
}
form#cover_image_form {
    display:  none;
    visibility:  hidden;
    overflow:  hidden;
    height:  0;
}
img#cover_img {
    height:  100%;
}