body{
    font-size: 1.2em;

}
#wrap{
    width: 100%;
    max-width: 960px;
    margin: 30px auto;
}
.warning-box{
    background: #f2dede;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    max-width: 960px;
    margin: 0 auto;
}

#left-col-grid{ grid-area: left;}
#right-col-grid{ grid-area: right;}
#top-grid{ grid-area: top;}
#content-grid{ grid-area: main;}

#gridWrap {
    display:  grid;
    grid-template-areas:
            'left top top top top top'
            'left main main main main right'
            'left main main main main right';
}
.proposed-users {
    list-style: none;
}
.proposed-users li {
    border-bottom: 1px solid black;
}
.proposed-users li a {
    text-decoration: none;
    color: black;
}
.proposed-users li a img {
    display: inline-block;
    vertical-align: middle;
}