RewriteEngine On

php_value upload_max_filesize 1M
php_value post_max_size 1M

Options -Indexes

DirectoryIndex index.php

ErrorDocument 404 /projects/ITTS9/FriendBook/v2.0/view/error_404.php
ErrorDocument 403 /projects/ITTS9/FriendBook/v2.0/view/error_403.php
